<center>
  <h3>Post list</h3>
  <table border="2">
  <tr>
    <th>Title</th>
    <th>View</th>
  </tr>
<% @posts.each do |post| %>

    <tr><td> <%=post.title %></td>
    <td><%= link_to "show" , post %></td>
    </tr>

<% end %>
</table>
<%= link_to "New post", new_post_path,class: "btn btn-outline-primary" %>
<br>
<%= link_to "Topic", topics_path %>

</center>