<div class="sidebar">   
   <div class="container-fluid">
        <div class="row flex-nowrap">
         <div class="bg-dark col-auto col-md-2 min-vh-100">
            <div class="bg-dark">
              <ul class="nav nav-pills flex-column">
                <li class="nav-items"><%= link_to "Topics", topics_path %></li>
              </ul>
            </div>
         </div>
         <div class="col-md-6">
          <p class="alert"><%= alert %></p>
          <div class=""><%= yield %></div>
         </div>
          
          
        </div>
    </div>
</div>     